<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <!-- 
      This forces the SendKeys class to use the newest implementation, which should run more consistently 
      Read more: https://docs.microsoft.com/en-us/dotnet/framework/winforms/how-to-simulate-mouse-and-keyboard-events-in-code
    -->
    <add key="SendKeys" value="SendInput"/>

  </appSettings>
</configuration>